html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

#wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #wrapper::after {
    clear: both;
    content: "";
    display: table; }

.logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  margin-left: 46.91392%; }
  .logo:last-child {
    margin-right: 0; }

.header {
  background-image: url("images/header.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 10px;
  height: 440px;
  position: relative; }
  .header:last-child {
    margin-right: 0; }
  .header .headertxt {
    background: rgba(61, 131, 150, 0.5);
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 115px;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #FFCB05; }
    .header .headertxt:last-child {
      margin-right: 0; }
    .header .headertxt .smallbox {
      top: -14.5px;
      margin-left: 17.05961%; }

.story1 {
  background-image: url("images/story1.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-top: 15px;
  height: 410px; }
  .story1:last-child {
    margin-right: 0; }

.story2 {
  background-image: url("images/story2.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-top: 15px;
  height: 410px; }
  .story2:last-child {
    margin-right: 0; }

.story3 {
  background-image: url("images/story3.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  margin-top: 15px;
  height: 409px; }
  .story3:last-child {
    margin-right: 0; }

.blackbox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-image: url("images/blackbox.png");
  margin-top: 30px;
  height: 746px;
  position: relative; }
  .blackbox:last-child {
    margin-right: 0; }
  .blackbox .smallbox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    margin-left: 46.91392%;
    top: -14.5px; }
    .blackbox .smallbox:last-child {
      margin-right: 0; }

.yellowbox, .header .headertxt .smallbox, .blackbox .smallbox, .news1 .smallbox, .news2 .smallbox, .bluebox .smallbox, .editorials .smallbox, .smallbox1, .smallbox2, .smallbox3, .smallbox4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  text-align: center;
  padding-top: 5px;
  font: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background-color: #FFCB05;
  height: 29px;
  position: absolute; }
  .yellowbox:last-child, .header .headertxt .smallbox:last-child, .blackbox .smallbox:last-child, .news1 .smallbox:last-child, .news2 .smallbox:last-child, .bluebox .smallbox:last-child, .editorials .smallbox:last-child, .smallbox1:last-child, .smallbox2:last-child, .smallbox3:last-child, .smallbox4:last-child {
    margin-right: 0; }

.lincon {
  background-image: url("images/lincon.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 330px;
  margin-top: 10px;
  padding-top: 130px;
  text-align: center;
  font-family: italic;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 36px;
  opacity: 1; }
  .lincon:last-child {
    margin-right: 0; }

.news1 {
  background-image: url("images/bridge1.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  position: relative;
  height: 410px;
  margin-top: 10px;
  border-bottom: 2px solid #FFCB05; }
  .news1:last-child {
    margin-right: 0; }
  .news1 .smallbox {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    position: absolute;
    bottom: -14.5px; }
    .news1 .smallbox:last-child {
      margin-right: 0; }

.news2 {
  background-image: url("images/bridge2.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  height: 410px;
  margin-top: 10px;
  position: relative;
  border-bottom: 2px solid #FFCB05;
  margin-right: 0; }
  .news2:last-child {
    margin-right: 0; }
  .news2 .smallbox {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    position: absolute;
    bottom: -14.5px; }
    .news2 .smallbox:last-child {
      margin-right: 0; }

.storytext {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .storytext:last-child {
    margin-right: 0; }
  .storytext h4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    font-family: Lato-Black;
    font-size: 22px;
    color: #000000;
    letter-spacing: 0.34px;
    line-height: 24px; }
    .storytext h4:last-child {
      margin-right: 0; }
    .storytext h4:nth-child(2n) {
      margin-right: 0; }
    .storytext h4:nth-child(2n+1) {
      clear: left; }

.bluebox {
  background-image: url("images/bluebox.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 420px;
  position: relative; }
  .bluebox:last-child {
    margin-right: 0; }
  .bluebox .smallbox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 38.38412%;
    position: absolute;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #000000;
    line-height: 17px;
    top: -14.5px; }
    .bluebox .smallbox:last-child {
      margin-right: 0; }

.editorials {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 260px;
  margin-top: 30px;
  position: relative;
  border-top: 4px solid #FFCB05; }
  .editorials:last-child {
    margin-right: 0; }
  .editorials .edit1 {
    background-image: url("images/edit1.png");
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    position: absolute;
    height: 170px;
    margin-top: 30px; }
    .editorials .edit1:last-child {
      margin-right: 0; }
  .editorials .edit2 {
    background-image: url("images/edit2.png");
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 25.58941%;
    position: absolute;
    height: 170px;
    margin-top: 30px; }
    .editorials .edit2:last-child {
      margin-right: 0; }
  .editorials .edit3 {
    background-image: url("images/edit3.png");
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 51.17883%;
    position: absolute;
    height: 170px;
    margin-top: 30px; }
    .editorials .edit3:last-child {
      margin-right: 0; }
  .editorials .edit4 {
    background-image: url("images/edit4.png");
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 76.76824%;
    position: absolute;
    height: 170px;
    margin-top: 30px; }
    .editorials .edit4:last-child {
      margin-right: 0; }
  .editorials .smallbox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-left: 42.64902%;
    top: -14.5px;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #000000;
    line-height: 17px; }
    .editorials .smallbox:last-child {
      margin-right: 0; }

.smallbox1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 25px;
  bottom: 0px;
  font-family: Lato-Italic;
  font-size: 12px;
  color: #000000;
  line-height: 15px;
  text-align: left;
  padding-left: 5px; }
  .smallbox1:last-child {
    margin-right: 0; }

.smallbox2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 25px;
  bottom: 0px;
  font-family: Lato-Italic;
  font-size: 12px;
  color: #000000;
  line-height: 15px;
  text-align: left;
  padding-left: 5px; }
  .smallbox2:last-child {
    margin-right: 0; }

.smallbox3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 25px;
  bottom: 0px;
  font-family: Lato-Italic;
  font-size: 12px;
  color: #000000;
  line-height: 15px;
  text-align: left;
  padding-left: 5px; }
  .smallbox3:last-child {
    margin-right: 0; }

.smallbox4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 25px;
  bottom: 0px;
  font-family: Lato-Italic;
  font-size: 12px;
  color: #000000;
  line-height: 15px;
  text-align: left;
  padding-left: 5px; }
  .smallbox4:last-child {
    margin-right: 0; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #EBEBEB;
  font-family: Lato-Bold;
  font-size: 16px;
  color: #3A8397;
  line-height: 19px; }
  footer:last-child {
    margin-right: 0; }
  footer li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    list-style-type: none; }
    footer li:last-child {
      margin-right: 0; }
    footer li .item2 {
      font-family: Lato-Italic;
      font-size: 16px;
      color: #3A8397;
      line-height: 19px; }

/*# sourceMappingURL=style.css.map */
