@import "bourbon/bourbon"
@import "neat/neat"

body
  margin: 0
  padding: 0
#wrapper
  +outer-container
.logo
  +span-columns(1)
  +shift(5.5)
.header
  background-image: url('images/header.png')
  +span-columns(12)
  margin-top: 10px
  height: 440px
  position: relative
  .headertxt
    background: rgba(61,131,150,0.5) //rgb equivalent of blue color and 0.5 opacity
    +span-columns(12)
    height: 115px
    position: absolute
    bottom: 0
    border-top: 2px solid #FFCB05
    .smallbox
      @extend .yellowbox
      top: -14.5px
      +shift(2)
      

.story1
  background-image: url('images/story1.png')
  +span-columns(4)
  margin-top: 15px
  height: 410px
.story2
  background-image: url('images/story2.png')
  +span-columns(4)
  margin-top: 15px
  height: 410px
.story3
  background-image: url('images/story3.png')
  +span-columns(4)

  +omega()
  margin-top: 15px
  height: 409px
.blackbox
  +span-columns(12)
  background-image: url('images/blackbox.png')
  margin-top: 30px
  height: 746px
  position: relative
  .smallbox
    @extend .yellowbox
    +span-columns(1)
    +shift(5.5)
    top: -14.5px
.yellowbox
  +span-columns(1)
  text-align: center
  padding-top: 5px
  font: $helvetica
  background-color: #FFCB05
  height: 29px
  position: absolute

.lincon
  background-image: url('images/lincon.png')
  +span-columns(12)
  height: 330px
  margin-top: 10px
  padding-top: 130px
  position:relative
  text-align: center
  font-family: italic
  font-size: 32px
  color: #FFFFFF
  line-height: 36px
  opacity: 1
.news1
  background-image: url('images/bridge1.png')
  +span-columns(6)
  position: relative
  height: 410px
  margin-top: 10px
  border-bottom: 2px solid #FFCB05
  .smallbox
    @extend .yellowbox
    +shift(1)
    +span-columns(2)
    position: absolute
    bottom: -14.5px
      
.news2
  background-image: url('images/bridge2.png')
  +span-columns(6)  
  height: 410px
  margin-top: 10px
  position: relative
  border-bottom: 2px solid #FFCB05
  +omega()
  .smallbox
    @extend .yellowbox
    +shift(1)
    +span-columns(2)
    position: absolute
    bottom: -14.5px
.storytext
  +span-columns(12)
  h4
    +span-columns(6)
    +omega(2n)
    font-family: Lato-Black
    font-size: 22px
    color: #000000
    letter-spacing: 0.34px
    line-height: 24px

.bluebox

  background-image: url('images/bluebox.png')
  +span-columns(12)
  height: 420px
  position: relative
  
  .smallbox
    @extend .yellowbox
    +span-columns(3)
    +shift(4.5)
    position: absolute
    font-family: Lato-Regular
    font-size: 14px
    color: #000000
    line-height: 17px
    top: -14.5px
.editorials
  +span-columns(12)
  height: 260px
  margin-top: 30px
  position: relative
  border-top: 4px solid #FFCB05
  .edit1
    background-image: url('images/edit1.png')
    +span-columns(3)
    position: absolute
    height: 170px
    margin-top: 30px
  
  .edit2
    background-image: url('images/edit2.png')
    +span-columns(3)
    +shift(3)
    position: absolute
    height: 170px
    margin-top: 30px
  .edit3
    background-image: url('images/edit3.png')
    +span-columns(3)
    +shift(6)
    position: absolute
    height: 170px
    margin-top: 30px
  .edit4
    background-image: url('images/edit4.png')
    +span-columns(3)
    +shift(9)
    position: absolute
    height: 170px
    margin-top: 30px
   

  .smallbox
    @extend .yellowbox
    +span-columns(2)
    +shift(5)
    top: -14.5px
    font-family: Lato-Regular
    font-size: 14px
    color: #000000
    line-height: 17px
.smallbox1
  @extend .yellowbox
  +span-columns(12)
  height: 25px
  bottom: 0px
  font-family: Lato-Italic
  font-size: 12px
  color: #000000
  line-height: 15px
  text-align: left
  padding-left: 5px
.smallbox2
  @extend .yellowbox
  +span-columns(12)
  height: 25px
  bottom: 0px
  font-family: Lato-Italic
  font-size: 12px
  color: #000000
  line-height: 15px
  text-align: left
  padding-left: 5px
.smallbox3
  @extend .yellowbox
  +span-columns(12)
  height: 25px
  bottom: 0px
  font-family: Lato-Italic
  font-size: 12px
  color: #000000
  line-height: 15px
  text-align: left
  padding-left: 5px
.smallbox4
  @extend .yellowbox
  +span-columns(12)
  height: 25px
  bottom: 0px
  font-family: Lato-Italic
  font-size: 12px
  color: #000000
  line-height: 15px
  text-align: left
  padding-left: 5px

footer
  +span-columns(12)
  background-color: #EBEBEB
  span
  font-family: Lato-Bold
  font-size: 16px
  color: #3A8397
  line-height: 19px
  li
    +span-columns(3)
    list-style-type: none
    .item1
    .item2
      font-family: Lato-Italic
      font-size: 16px
      color: #3A8397
      line-height: 19px
    .item3
      img
        display

  ul
    padding-top: 20px
    
    span
      background-color: #FFCB05
      position: relative
      +span-columns(4)
      +shift(3.5)
      padding-left: 25px
      padding-top: 5px
      position: absolute
      top: 50%
      height: 30px
      font-family: Lato-Regular
      font-size: 14px
      color: #000000
      line-height: 17px


    li
      +span-columns(4)
      height: 370px
      list-style-type: none
      display: flex
      flex-direction: column
      justify-content: center
      position: relative

    .slide1
      background-image: url('images/slide1.png')
      background-repeat: no-repeat        
   
    .slide2
      background-image: url('images/slide2.png')
      background-repeat: no-repeat
    
    .slide3
      background-image: url('images/slide3.png')
      background-repeat: no-repeat

    h3

      +span-columns(10)
      +shift(0.5)
      font-family: Lato-Black
      text-align: center
      margin-top: 250px
      font-size: 22px
      color: #FFFFFF
      letter-spacing: 0.34px
      line-height: 24px

