html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: Lato-Regular; }

#wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #wrapper::after {
    clear: both;
    content: "";
    display: table; }

nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 80px; }
  nav:last-child {
    margin-right: 0; }
  nav .left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding-top: 30px; }
    nav .left:last-child {
      margin-right: 0; }
    nav .left .menu {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 10.43705%;
      margin-top: 8px; }
      nav .left .menu:last-child {
        margin-right: 0; }
    nav .left .envivo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-left: 2%; }
      nav .left .envivo:last-child {
        margin-right: 0; }
    nav .left .top {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-top: 4px;
      margin-left: 2%; }
      nav .left .top:last-child {
        margin-right: 0; }
      nav .left .top span {
        font-family: Lato-Regular;
        font-size: 12px;
        color: #FFCB05;
        line-height: 15px; }
      nav .left .top strong {
        font-family: Lato-Bold;
        display: block;
        font-size: 14px;
        color: #3A8397;
        line-height: 17px; }
  nav .middle {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    nav .middle:last-child {
      margin-right: 0; }
    nav .middle .logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 18.96686%;
      margin-left: 40.51657%;
      padding-top: 15px; }
      nav .middle .logo:last-child {
        margin-right: 0; }
  nav .right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    margin-top: 30px;
    float: right;
    height: 50px; }
    nav .right:last-child {
      margin-right: 0; }
    nav .right .top {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      text-align: right;
      font-family: Lato-Regular;
      font-size: 14px;
      display: block;
      color: #3A8397;
      line-height: 20px; }
      nav .right .top:last-child {
        margin-right: 0; }
    nav .right .search {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      padding-left: 10px;
      padding-top: 5px;
      border-left: 2px solid #3a8397;
      height: 40px; }
      nav .right .search:last-child {
        margin-right: 0; }

.yellowbox, header .headertxt .smallbox, #story_wrapper ul li .desc .smallbox, .blackbox .smallbox, section .smallbox, .coverstory li .smallbox, .bluebox .smallbox, .editorials .smallbox, .editorials .smallbox1, .editorials .smallbox2, .editorials .smallbox3, .editorials .smallbox4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  text-align: center;
  padding-top: 5px;
  background-color: #FFCB05;
  height: 29px;
  color: #000000;
  position: absolute; }
  .yellowbox:last-child, header .headertxt .smallbox:last-child, #story_wrapper ul li .desc .smallbox:last-child, .blackbox .smallbox:last-child, section .smallbox:last-child, .coverstory li .smallbox:last-child, .bluebox .smallbox:last-child, .editorials .smallbox:last-child, .editorials .smallbox1:last-child, .editorials .smallbox2:last-child, .editorials .smallbox3:last-child, .editorials .smallbox4:last-child {
    margin-right: 0; }

header {
  background-image: url("images/header.png");
  background-size: cover;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 20px;
  height: 600px;
  position: relative; }
  header:last-child {
    margin-right: 0; }
  header .headertxt {
    background: rgba(61, 131, 150, 0.5);
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 0 0 0 2.35765%;
    height: 115px;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #FFCB05; }
    header .headertxt:last-child {
      margin-right: 0; }
    header .headertxt .smallbox {
      top: -14.5px;
      margin-left: 17.05961%; }
    header .headertxt h1 {
      color: #ffffff;
      margin-left: 17.05961%;
      padding-top: 10px; }

#story_wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #story_wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #story_wrapper ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 0;
    padding: 0; }
    #story_wrapper ul:last-child {
      margin-right: 0; }
    #story_wrapper ul li {
      margin-left: 0;
      list-style-type: none;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      height: 410px;
      margin-top: 20px;
      position: relative; }
      #story_wrapper ul li:last-child {
        margin-right: 0; }
      #story_wrapper ul li .desc {
        border-top: 2px solid #FFCB07;
        height: 25%;
        position: absolute;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding-left: 2.3567%;
        color: white;
        background-color: rgba(0, 0, 0, 0.5); }
        #story_wrapper ul li .desc:last-child {
          margin-right: 0; }
        #story_wrapper ul li .desc .smallbox {
          top: -14.5px;
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 8.5298%; }
          #story_wrapper ul li .desc .smallbox:last-child {
            margin-right: 0; }
    #story_wrapper ul .story1 {
      background-image: url("images/story1.png"); }
      #story_wrapper ul .story1 .desc {
        top: 70%;
        height: 30%; }
    #story_wrapper ul .story2 {
      background-image: url("images/story2.png"); }
      #story_wrapper ul .story2 .desc {
        top: 80%;
        height: 20%; }
    #story_wrapper ul .story3 {
      background-image: url("images/story3.png"); }
      #story_wrapper ul .story3 .desc {
        top: 0;
        height: 100%; }

.blackbox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #000000;
  margin-top: 30px;
  height: 746px;
  position: relative; }
  .blackbox:last-child {
    margin-right: 0; }
  .blackbox .main {
    padding-top: 50px; }
    .blackbox .main video {
      border: 1px solid #FFCB07;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      height: 400px; }
      .blackbox .main video:last-child {
        margin-right: 0; }
    .blackbox .main video:first-child {
      margin-left: 8.5298%; }
  .blackbox .thumb {
    margin-top: 100px; }
    .blackbox .thumb video {
      margin-top: 50px;
      border: 1px solid #FFCB07;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 26.0466%;
      height: 200px; }
      .blackbox .thumb video:last-child {
        margin-right: 0; }
    .blackbox .thumb video:first-child {
      margin-left: 8.5298%; }
  .blackbox .smallbox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    margin-left: 46.91392%;
    top: -14.5px; }
    .blackbox .smallbox:last-child {
      margin-right: 0; }

section {
  background-image: url("images/lincon.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 330px;
  margin-top: 50px;
  padding-top: 100px;
  border-top: 2px solid #FFCB07;
  color: #FFFFFF;
  position: relative; }
  section:last-child {
    margin-right: 0; }
  section .quote {
    font-family: PTSerif;
    font-style: italic;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20; }
  section .smallbox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-left: 42.64902%;
    font-size: 14px;
    top: -14.5px; }
    section .smallbox:last-child {
      margin-right: 0; }
  section em {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    color: #FFCB07;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    font-family: Lato-Regular; }
    section em:last-child {
      margin-right: 0; }
  section strong {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-left: 42.64902%;
    margin-top: 10px;
    text-align: center;
    display: block;
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    color: #FFCB07;
    line-height: 19px;
    padding: 5px;
    border: 2px solid #FFCB07; }
    section strong:last-child {
      margin-right: 0; }

.coverstory li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  position: relative;
  height: 410px;
  margin-top: 10px;
  font-size: 14px;
  border-bottom: 2px solid #FFCB05; }
  .coverstory li:last-child {
    margin-right: 0; }
  .coverstory li .smallbox {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    position: absolute;
    bottom: -14.5px; }
    .coverstory li .smallbox:last-child {
      margin-right: 0; }
.coverstory .news1 {
  background-image: url("images/bridge1.png"); }
.coverstory .news2 {
  background-image: url("images/bridge2.png");
  margin-right: 0; }
.coverstory .storytext {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-family: Lato-Black;
  font-size: 22px;
  color: #000000;
  letter-spacing: 0.34px;
  line-height: 24px; }
  .coverstory .storytext:last-child {
    margin-right: 0; }

.bluebox {
  background-image: url("images/bluebox.png");
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 420px;
  position: relative; }
  .bluebox:last-child {
    margin-right: 0; }
  .bluebox .smallbox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 38.38412%;
    position: absolute;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #000000;
    line-height: 17px;
    top: -14.5px; }
    .bluebox .smallbox:last-child {
      margin-right: 0; }
  .bluebox ul {
    padding: 20px 0 0 2.35765%; }
    .bluebox ul span {
      background-color: #FFCB05;
      position: relative;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-left: 29.85432%;
      padding-left: 25px;
      padding-top: 5px;
      position: absolute;
      top: 50%;
      height: 30px;
      font-family: Lato-Regular;
      font-size: 14px;
      color: #000000;
      line-height: 17px; }
      .bluebox ul span:last-child {
        margin-right: 0; }
    .bluebox ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      height: 370px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative; }
      .bluebox ul li:last-child {
        margin-right: 0; }
    .bluebox ul .slide1 {
      background-image: url("images/slide1.png");
      background-repeat: no-repeat; }
    .bluebox ul .slide2 {
      background-image: url("images/slide2.png");
      background-repeat: no-repeat; }
    .bluebox ul .slide3 {
      background-image: url("images/slide3.png");
      background-repeat: no-repeat; }
    .bluebox ul h3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 4.2649%;
      font-family: Lato-Black;
      text-align: center;
      margin-top: 250px;
      font-size: 22px;
      color: #FFFFFF;
      letter-spacing: 0.34px;
      line-height: 24px; }
      .bluebox ul h3:last-child {
        margin-right: 0; }

.editorials {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 260px;
  margin-top: 30px;
  position: relative;
  border-top: 4px solid #FFCB05; }
  .editorials:last-child {
    margin-right: 0; }
  .editorials .edit1 {
    background-image: url("images/edit1.png");
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    position: absolute;
    height: 170px;
    margin-top: 30px; }
    .editorials .edit1:last-child {
      margin-right: 0; }
  .editorials .edit2 {
    background-image: url("images/edit2.png");
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 25.58941%;
    position: absolute;
    height: 170px;
    margin-top: 30px; }
    .editorials .edit2:last-child {
      margin-right: 0; }
  .editorials .edit3 {
    background-image: url("images/edit3.png");
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 51.17883%;
    position: absolute;
    height: 170px;
    margin-top: 30px; }
    .editorials .edit3:last-child {
      margin-right: 0; }
  .editorials .edit4 {
    background-image: url("images/edit4.png");
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 76.76824%;
    position: absolute;
    height: 170px;
    margin-top: 30px; }
    .editorials .edit4:last-child {
      margin-right: 0; }
  .editorials .smallbox {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-left: 42.64902%;
    top: -14.5px;
    font-family: Lato-Italic;
    font-size: 14px;
    color: #000000;
    line-height: 17px; }
    .editorials .smallbox:last-child {
      margin-right: 0; }
  .editorials .smallbox1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 25px;
    bottom: 0px;
    font-family: Lato-Italic;
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    text-align: left;
    padding-left: 5px; }
    .editorials .smallbox1:last-child {
      margin-right: 0; }
  .editorials .smallbox2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 25px;
    bottom: 0px;
    font-family: Lato-Italic;
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    text-align: left;
    padding-left: 5px; }
    .editorials .smallbox2:last-child {
      margin-right: 0; }
  .editorials .smallbox3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 25px;
    bottom: 0px;
    font-family: Lato-Italic;
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    text-align: left;
    padding-left: 5px; }
    .editorials .smallbox3:last-child {
      margin-right: 0; }
  .editorials .smallbox4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 25px;
    bottom: 0px;
    font-family: Lato-Italic;
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    text-align: left;
    padding-left: 5px; }
    .editorials .smallbox4:last-child {
      margin-right: 0; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #EBEBEB; }
  footer:last-child {
    margin-right: 0; }
  footer li {
    list-style-type: none;
    margin-bottom: 10px; }
  footer span {
    font-family: Lato-Bold;
    font-size: 16px;
    color: #3A8397;
    line-height: 19px; }
  footer ul {
    padding-left: 0; }
  footer .item1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center; }
    footer .item1:last-child {
      margin-right: 0; }
  footer .item2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    font-family: Lato-Italic;
    text-align: center;
    font-size: 16px;
    color: #3A8397;
    line-height: 19px; }
    footer .item2:last-child {
      margin-right: 0; }
    footer .item2 h4 {
      font-size: 22px; }
  footer .item3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    footer .item3:last-child {
      margin-right: 0; }
    footer .item3 ul {
      color: #979797;
      padding-left: 0; }
    footer .item3 p {
      margin-left: 25px; }
    footer .item3 .fb {
      background-image: url("images/fb.png");
      width: 22px;
      height: 22px;
      line-height: 20px;
      list-style-type: none; }
    footer .item3 .twitter {
      background-image: url("images/twitter.png");
      width: 22px;
      height: 22px;
      line-height: 20px;
      list-style-type: none; }
    footer .item3 .youtube {
      width: 22px;
      height: 22px;
      line-height: 20px;
      list-style-type: none;
      background-image: url("images/youtube.png"); }
  footer .item4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    footer .item4:last-child {
      margin-right: 0; }
    footer .item4 ul {
      padding-left: 16px;
      padding-top: 10px; }
    footer .item4 li {
      list-style-type: disc;
      color: #979797; }

/*# sourceMappingURL=style.css.map */
